<%- include('partials/header'); -%>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="http://localhost:1337/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Exercises</li>
      </ol>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-1 fw-bold">Exercises</h1>
    </div>
<%- include('partials/footer'); -%>
